# ARCHIVOS DE SISTEMA (macOS) 
.DS_Store
.AppleDouble
.LSOverride

# COMPILACIÓN MAVEN
target/
*.jar
*.war
*.ear

# ARCHIVOS DE ECLIPSE 
.metadata/
bin/
tmp/
*.tmp
*.bak
.factorypath

# CONFIGURACIÓN LOCAL DE ECLIPSE
# Los ignoramos para que las rutas locales de Mac no choquen con las de los compañeros en Windows/Linux
.classpath
.project
.DS_Store

.settings/
.vscode/
